# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build
build
build.release
build.debug
release_build
debug_build

# QtCreator
CMakeLists.txt.user

/_configure.bat
/_open-project.bat
/_start-cmake-gui.bat
/_start-depends.bat
